/* contact */
.contact {
  padding: 180px 0px 180px 0px;
  min-height: 100vh;
}
.contact-form-container {
  width: 50%;
  margin: auto;
}
.contact-form-container label {
  display: block;
  font-weight: 700;
}
.contact-form-container input,
textarea {
  width: 100%;
  border: 1px solid #ddd;
  height: 30px;
  border-radius: 20px;
}
.contact-form-container textarea {
  height: 80px;
}
