form {
  height: 500px;
  max-width: 50%;
  margin: auto;
  /* border: 1px solid red; */
}

.container h1 {
  text-align: center;
}

.element-form input {
  border: 2px solid #222;
  outline: none;
  max-width: 60%;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  float: right;
}
.element-form {
  overflow: auto;
  /* border: 1px solid red; */
}
.element-form label {
  position: relative;
  left: 10%;
  top: 25px;
  text-align: right;
  /* border: 1px solid red; */
  display: block;
  font-weight: 700;
  width: 30%;
}
.element-form button {
  display: block;
  position: relative;
  left: 40%;
}
@media screen and(max-width:1024px) {
  .element-form label {
    width: 30%;
    left: -2%;
  }
}
@media screen and (max-width: 600px) {
  form {
    max-width: 100%;

    border: 1px solid green;
  }
  .element-form input {
    font-size: 5vw;
    display: inline-block;
    height: 50px;
    max-width: 80%;
    clear: both;
  }
  .element-form label {
    width: 50%;
    left: -3%;
    top: 2px;
    text-align: left;
    font-size: 5vw;
  }
  .element-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .element-form button {
    left: 0;
  }
}
